/* This container includes our table and our canvas */

body{
    background-color: black;

}

h1{
    font-family: 'Parisienne';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dfe3df;
    text-shadow:
      0 0 7px #f057eb,
      0 0 10px #f057eb,
      0 0 21px #f057eb,
      0 0 21px #f057eb,
      0 0 21px #f057eb,
      0 0 21px #f057eb,
      0 0 21px #f057eb,
      0 0 21px #f057eb;
      white-space: nowrap;
      overflow: hidden;
      width: 32em;
      animation: type 1.5s steps(130, end); 
    }
    
    @keyframes type{ 
      from { width: 0; } 
    } 

.center-container {
    /* This property sets the width of our container.*/
    width: 608;
    /* This property centers our container.*/
    margin: 0 auto;
    /* 50px down from top*/
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


table{ 

     /* This property collapse table borders into 1 border.*/
     border-collapse: collapse;
      /* This hides outer borders on table.*/
      border-style: hidden;

}


td {
    /*This property changes the cursor to the index finger hand when we hover over td elements*/
    cursor: pointer;
    /*This property sets our table border style*/
    border: 4px solid #fff;
     /*This property removes default padding*/
     padding: 0px;
     width: 200px;
     height: 200px;
}

canvas {
    /*This property sets the position of our canvas to the top left corner of our container*/
    position: absolute;
    /*This property places our canvas over the top of our table*/
    z-index: 10;
    /*This property makes our canvas invisible*/
    pointer-events: none;   
}